.idea
.venv
.env
MarkMyWords.md
ROADMAP.md
__pycache__/
*.pyc
populate_db.py
DatabaseGenerator.py
markmywords/src/main/java/io/github/gautamKodes/vocabulary_webapp/words/data.sql
**/target/
DatabaseGenerator.py
data.sql